
<div class="container mt-5 ">
  <div class="services-container">

    <h2 class="text-center"><strong>Nos Métiers</strong> </h2><br>  
    <div class="services-card card mb-4">
      <div class="card mb-4">
        <div class="row no-gutters">
          <div class="col-md-6 d-flex">
            <img src="/assets/5.jpg" alt="Image 5" class="card-img img-fluid">
          </div>
            
          <div class="col-md-6">
            <div class="card-body">
              <h3 class="card-title">Création et rénovation des jardins</h3>
              <p class="card-text">Que vous souhaitiez réaménager un jardin existant ou créer un jardin paysager de A à Z, à vous de définir l’ambiance dont vous avez envie.</p>
              <p class="card-text">Attentifs et sérieux, nous réalisons une étude personnalisée de votre projet, avant de le concrétiser selon vos souhaits.</p>
              <p class="card-text">Afin de vous permettre de profiter de votre espace vert pendant toute l’année, nous proposons aussi un service d’entretien.</p>
            </div>
          </div>
        </div>
      </div><br>  

      <div class="card mb-4">
            <div class="row no-gutters">
              <div class="col-md-6">
                <div class="card-body">
                  <h3 class="card-title">Entretien des espaces verts</h3>
                  <ul>
                    <li>Taille</li>
                    <li>Désherbage</li>
                    <li>Débroussaillage</li>
                    <li>Élagage des arbres</li>
                    <li>Plantation</li>

                </div>
              </div>
              <div class="col-md-6 d-flex flex-row-reverse">
                <img src="/assets/3.jpg" alt="Image 3" class="card-img img-fluid">
              </div>
            </div>
          </div><br>  


      <div class="card mb-4">
            <div class="row no-gutters">
              <div class="col-md-6 d-flex">
                <img src="/assets/8.jpg" alt="Image 8" class="card-img">
              </div>
                
              <div class="col-md-6">
                <div class="card-body">
                  <h3 class="card-title">Aménagement terrasse</h3>
                  <ul>
                    <li>Montage pergola</li>
                    <li>Nettoyage terrasse</li>
                    <li>Entretien piscine</li>
                  </ul>
                </div>
              </div>
            </div>
      </div>


      <div class="card mb-4">
                        <div class="row no-gutters">
                          <div class="col-md-6">
                            <div class="card-body">
                              <h3 class="card-title">Traitement phytosanitaires</h3>
                              <h3>Traitement phytosanitaires</h3>
                              <p>L'application de produits phytosanitaire peut être requis pour entretenir un jardin ou un espace vert...</p>
                              <p>Les Particuliers: Pour les particuliers nous intervenons dans le traitement des arbres et plantes...</p>
                              <p>Les Professionnels: Collectivités, sociétés, copropriétés, professionnel du jardin, nous intervenons...</p>

                            </div>
                          </div>
                          <div class="col-md-6 d-flex flex-row-reverse">
                            <img src="/assets/10.jpg" alt="Image 10" class="card-img">
                          </div>
                        </div>
      </div><br>  

    
      <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-6 d-flex">
                <img src="/assets/8.jpg" alt="Image 8" class="card-img">
          </div>
          
          <div class="col-md-6">
            <div class="card-body">
              <h3 class="card-title">Installation de système d’arrosage automatique</h3>
              <p>Un système d’arrosage automatique vous permet d’arroser une pelouse à toute heure sans vous fatiguer...</p>
              <p>Pour ce faire, il suffit de le programmer. Pour disposer d’un système d’arrosage automatique fonctionnel et durable, confiez-nous les travaux de mise en place.</p>
            </div>
          </div>
        </div>
      </div> 
    </div> 
  </div>
          
</div>
