
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/assets/home.jpg'); height: 800px;">
  <div class="container">
    <h1>Bienvenue à ECO VERDE</h1>
     <h2><strong>Découvrez tous nos services de jardinage</strong></h2>
    <p>Pour un jardin verdoyant, un gazon jalousé, faites confiance aux jardiniers qualifiés d’ECO VERDE.</p>

    <%= link_to "Contactez nous", contact_path, class:"btn btn-warning" %>
  </div>
</div>

<div class="home d-flex justify-content-center"> <!-- Center-align cards -->
  <div class="card mt-4 mx-2"> <!-- Added mx-2 for horizontal margin --> -->
    <div class="card-body text-center">
      <img src="/assets/approve.png" alt="Image 1" class="card-icon">
      <h3 class="card-title">Prix juste et raisonnable</h3>
      <p class="card-text"></p>
    </div>
  </div>

  <div class="card mt-4 mx-2"> <!-- Added mx-2 for horizontal margin -->
    <div class="card-body text-center">
      <img src="/assets/achievement.png" alt="Image 2" class="card-icon">
      <h3 class="card-title">Rapidité et efficacité</h3>
      <p class="card-text"></p>
    </div>
  </div>

  <div class="card mt-4 mx-2"> <!-- Added mx-2 for horizontal margin -->
    <div class="card-body text-center">
      <img src="/assets/Experience.svg" alt="Image 3" class="card-icon">
      <h3 class="card-title">Expérience et savoir-faire</h3>
    </div>
  </div>
</div>

