
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/assets/home.jpg'); height: 800px;">
  <div class="container">
    <h1>Bienvenue à ECO VERDE</h1>
     <h2><strong>Découvrez tous nos services de jardinage</strong></h2>
    <p>Pour un jardin verdoyant, un gazon jalousé, faites confiance aux jardiniers qualifiés d’ECO VERDE.</p>

    <%= link_to "Contactez nous", contact_path, class:"btn btn-warning" %>
  </div>
</div>

<div class="home d-flex">
      <div class="card mt-4">
        <div class="card-body text-center">
          <img src="/assets/approve.png" alt="Image 1"  class="card-icon">
          <h3 class="card-title">Prix juste et raisonnable</h3>
          <p class="card-text">Prix juste et connu d'avance</p>
        </div>
      </div>
    
      <div class="card mt-4">
        <div class="card-body text-center">
          <img src="/assets/achievement.png" alt="Image 2"  class="card-icon">
          <h3 class="card-title">Rapidité et efficacité</h3>
          <p class="card-text">Réalisation de nos prestations dans les meilleurs délais</p>
        </div>
      </div>
    
      <div class="card mt-4">
        <div class="card-body text-center">
          <img src="/assets/Experience.svg" alt="Image 3" class="card-icon">
          <h3 class="card-title">Expérience et savoir-faire</h3>
        </div>
      </div>
  </div>



  <%# <div class="container text-center text-dark">
    <h2>Présentation</h2>
    <p>Spécialiste de l’architecture paysagère, ECOVERDE propose des services en création, aménagement et entretien d’espaces verts de tous types. Dédiés aux particuliers et les professionnels (syndics de copropriété, entreprises, promoteurs, collectivités, …) nos artisans vous accompagnent dans vos projets d’aménagements paysagers.</p>
    <p>Besoin d’un partenaire privilégié pour la valorisation de vos espaces verts professionnels ou de copropriété, ECOVERDE Maroc est à votre écoute et vous propose une prestation globale, cohérente et de qualité.</p>
  </div> %>
 
