<turbo-frame id="contact-modal-frame">
  <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= render "contact_form" %>
      </div>
    </div>
  </div>
</turbo-frame>
