<!-- app/views/contact/about.html.erb -->

<div class="container mt-5 ">
  <div class="about-container">

    <h2 class="text-center"><strong>A propos de nous</strong> </h2><br>  
    <div class="services-card card mb-4">
      <div class="card mb-4">
        <div class="row no-gutters">
          <div class="col-md-6 d-flex">
            <img src="/assets/about.jpg" alt="Image about page" class="card-img">
          </div>
            
          <div class="col-md-6">
            <div class="card-body">
              <h3 class="card-title">Ecoverde</h3>
              <p class="card-text">Spécialiste de l’architecture paysagère, ECOVERDE Maroc propose des services en création, aménagement et entretien d’espaces verts de tous types. Dédiés aux particuliers et les professionnels (syndics de copropriété, entreprises, promoteurs, collectivités, …) nos artisans vous accompagnent dans vos projets d’aménagements paysagers.</p>
              <p class="card-text">Besoin d’un partenaire privilégié pour la valorisation de vos espaces verts professionnels ou de copropriété, ECOVERDE Maroc est à votre écoute et vous propose une prestation globale, cohérente et de qualité.</p>
            </div>
          </div>
        </div>
      </div>
  </div>  
 </div>  



